services:
  
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      NODE_ENV: development
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      CAT_API_KEY: ${THE_CAT_API_KEY}
      CAT_API_BASE_URL: ${CAT_API_BASE_URL}
    ports:
      - "3000:3000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    environment:
      NODE_ENV: production
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - 8080:8080

volumes:
  postgres_data:
